<nav class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[345px] h-[1626px] z-[10px] overflow-y-auto text-center bg-white-50">
    <div class="text-black justify p-2.5 mt-2 items-center flex-col mx-22 my-14">      
          <div><span class="font-poppins font-bold text-black-50 text-sm">GoMeal</span><span class="font-poppins font-bold text-yellow-50 text-sm">.</span></div>
        </div>
        <div class="w-[252px] h-[64px] bg-yellow-50 items-center rounded-2xl py-4 px-6 gap-6 mx-10 flex content-between">
            <img [src]="netImage1" class="inline-block shrink-0">
            <a class="font-poppins text-white-50 text-db font-medium items-center" href="#">Dashboard </a>
        </div>
    <ul class="mx-10">
        <li class="w-[252px] h-[64px]  items-center rounded-2xl py-4 px-6 gap-6 items-center flex content-between">
            <img [src]="netImage2" class="inline-block shrink-0">
            <a class="font-poppins text-gray-51 text-db font-medium items-center" href="#">Food Order</a>
        </li>
        <li class="w-[252px] h-[64px]  items-center rounded-2xl py-4 px-6 gap-6 items-center flex content-between">
            <img [src]="netImage3" class="inline-block shrink-0">
            <a class="font-poppins text-gray-51 text-db font-medium items-center" href="#">Favorite</a>
        </li>
        <li class="w-[252px] h-[64px]  items-center rounded-2xl py-4 px-6 gap-6 items-center flex content-between">
            <img [src]="netImage4" class="inline-block shrink-0">
            <a class="font-poppins text-gray-51 text-db font-medium items-center" href="#">Message</a>
        </li>
        <li class="w-[252px] h-[64px]  items-center rounded-2xl py-4 px-6 gap-6 items-center flex content-between">
            <img [src]="netImage5" class="inline-block shrink-0">
            <a class="font-poppins text-gray-51 text-db font-medium items-center" href="#">Order History</a>
        </li>
        <li class="w-[252px] h-[64px]  items-center rounded-2xl py-4 px-6 gap-6 items-center flex content-between">
            <img [src]="netImage6" class="inline-block shrink-0">
            <a class="font-poppins text-gray-51 text-db font-medium items-center" href="#">Bills</a>
        </li>
        <li class="w-[252px] h-[64px]  items-center rounded-2xl py-4 px-6 gap-6 items-center flex content-between">
            <img [src]="netImage7" class="inline-block shrink-0">
            <a class="font-poppins text-gray-51 text-db font-medium items-center" href="#">Settings</a>
        </li>
    </ul>
       
       
</nav>
